<div class="buttons clearfix">{{ git_hidden_tag }}
  <div class="pull-right">
    {% for button in buttons %}
    <a href="{{ button.link }}" class="btn btn-primary">{{ button.text }}</a>
    {% endfor %}
  </div>
</div>