.timeline {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0px auto;
}
.history-image {
  width: 100%;
  padding: 0;
  margin: 0;
}
.container-history {
  padding: 10px 50px;
  position: relative;
  width: 50%;
}
.text-box {
  padding: 20px 30px;
  background: #e0e0e0;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}
.left-container {
  left: 0;
}
.right-container {
  left: 50%;
}
.container-history img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.right-container img {
  left: -20px;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #e0e0e0;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}
.text-box h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #e0e0e0;
  right: -15px;
}
.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #e0e0e0;
  left: -15px;
}

@media screen and (max-width: 600px) {
  .timeline {
    margin: 50px auto;
  }
  .timeline::after {
    left: 31px;
  }
  .container-history {
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }
  .text-box {
    font-size: 13px;
  }
  .text-box h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .text-box small {
    margin-bottom: 10px;
  }
  .right-container {
    left: 0;
  }
  .left-container img,
  .right-container img {
    left: 10px;
  }
  .left-container-arrow,
  .right-container-arrow {
    border-right: 15px solid #e0e0e0;
    border-left: 0;
    left: -15px;
  }
}
/* waypoints 애니메이션 */
@media (min-width: 992px) {
  .section {
    position: relative;
  }
  /* 위로 가는 애니메이션 */
  .waypoints-up {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
  }
  .w-active .waypoints-up {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* 아래로 가는 애니메이션 */
  .waypoints-down {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -o-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }
  .w-active .waypoints-down {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* 오른쪽으로 가는 애니메이션 */
  .waypoints-right {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translate3d(-30px, 0, 0);
    -moz-transform: translate3d(-30px, 0, 0);
    -o-transform: translate3d(-30px, 0, 0);
    -ms-transform: translate3d(-30px, 0, 0);
    transform: translate3d(-30px, 0, 0);
  }
  .w-active .waypoints-right {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* 왼쪽으로 가는 애니메이션 */
  .waypoints-left {
    opacity: 0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translate3d(30px, 0, 0);
    -moz-transform: translate3d(30px, 0, 0);
    -o-transform: translate3d(30px, 0, 0);
    -ms-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  .w-active .waypoints-left {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  /* 딜레이 */
  .delay-05 {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }
  .delay-10 {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s;
    -o-transition-delay: 1s;
    -ms-transition-delay: 1s;
    transition-delay: 1s;
  }
  .delay-15 {
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    -ms-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }
  .delay-20 {
    -webkit-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -o-transition-delay: 2s;
    -ms-transition-delay: 2s;
    transition-delay: 2s;
  }
  .delay-25 {
    -webkit-transition-delay: 2.5s;
    -moz-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    -ms-transition-delay: 2.5s;
    transition-delay: 2.5s;
  }
  .delay-30 {
    -webkit-transition-delay: 3s;
    -moz-transition-delay: 3s;
    -o-transition-delay: 3s;
    -ms-transition-delay: 3s;
    transition-delay: 3s;
  }
}

