.nav-tabs > li > a {
    color: red;
    font-weight: bold;
    background: #92E6FF;
}
fieldset legend, .module_name {
    background: #dbfff0;
}

.module_name {
    font-weight: bold;
}

.modal-header {
    background: #eeeeee;
}
.modal-title {
    font-weight: bold;
}
.modal-body label {
    margin-top: 10px;
}

.como-ellipses-3 {
    max-height: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}