<div style="position:absolute; position: absolute; {{ field.top_in_cm }} {{ field.left_or_right_in_cm }} {{ field.vspace_in_cm }}">

    {% for row in rows %}
        {{ row }}
        <br />
    {% endfor %}

</div>