{% if (link_my_gdpr_tools is not empty) %} 
 <h2 class="secondary-title">{{ text_my_gdpr_tools_header }}</h2>
 <ul class="list-unstyled">
	<li><a href="{{ link_my_gdpr_tools }}">{{ text_my_gdpr_tools }}</a></li>
 </ul>
{% endif %}